
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <style type="text/css">
    .title {
      text-align: center;
      margin-top: 100px;
    }
    .whole-form {
      align-self: center;
      margin-top: 100px;
      margin-left: 450px;
    }
    .form-group {
      display: block;
      margin-bottom: 10px;
      margin-left: 200px;
    }
    input, textarea, select {
      display: block;
      width: 500px;
    }

    button {
      padding: 5px;
      margin: 10px 10px 10px 20px;
      flex-direction: column;
    }
  </style>
  <meta charset="ISO-8859-1">
  <title>Appointment Platform</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>

<div class="title">
  <h1>Appointment Platform</h1>
</div>


<div class="whole-form">
  <form th:action="@{/appointment/waitingList}" method="get" th:object="${person}">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" th:disabled="${success}" th:value="*{firstName}" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" th:disabled="${success}" th:value="*{lastName}" required>
    </div>

    <div class="form-group">
      <label for="msp">MSP No:</label>
      <input type="text" id="msp" name="msp" th:disabled="${success}" th:value="*{msp}">
    </div>

    <div class="form-group">
      <label for="birth">Date of birth:</label>
      <input type="text" id="birth" name="birth" th:disabled="${success}" th:value="*{birth}" required>
    </div>


    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="textarea" id="desc" name="desc" th:disabled="${success}" th:value="*{description}">
    </div>
    <br/>

    <div class="form-group">
      <label for="pri">Prioritized:</label>
      <input type="text" id="pri" name="pri" th:disabled="${success}" th:value="*{isPrioritized} ? 'Y' : 'N'">
    </div>

    <div class="form-group">
      <input type="submit" value="Return" />
    </div>
  </form>
</div>

</body>
</html>